.container {
    display: flex;
    justify-content: space-around;
}

.gooey-container {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    cursor: pointer;
}

.gooey-content {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.gooey-base-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.gooey-block {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.85;
    z-index: 0;
    filter: url("#goo-no-comp");

    @include breakpoint (max-width 768px) {
        filter: none !important;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.gooey-dot {
    position: absolute;
    width: 110px;
    height: 110px;
    margin-left: -55px;
    margin-top: -55px;
    border-radius: 50%;
    background: $primary-color;

    @include breakpoint (max-width 768px) {
        display: none;
    }

    @for $i from 1 through 8 {
        &:nth-child(#{$i}) {
            transform: scale(0.6 + random(40)/100);
            background: mix($primary-color, $primary-color-dark, random(100%));
        }
    }
}

.gooey-cursor {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(45deg,$primary-color,$primary-color-dark);
    z-index: 0;

    @include breakpoint (max-width 768px) {
        display: none;
    }
}
